body {
    display: flex;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2px 0px 0px;
    padding: 200px;
    width: auto;
    height: 100px;
}

#container.div:hover {
    background-color: white;
}