body {
    display: flex;
}

#container.div {
    display: flex;
    flex-direction: row;
}

.colored-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(167, 167, 167);
    justify-content: center;
}

.colored-div:hover {
    background-color: black;
}