#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.colored-div {
    margin: 0px;
    width: 25px;
    height: 25px;
    border: 1.75px solid rgb(179, 179, 179);
    justify-content: center;
}

#popup {
    margin: 15px;
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
}